*.md~
*.DS_Store
*.m~
*.csv#
*.txt#
*.csv~
*.ods#
*.m~~
*.sciprj~
.gitignore~
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.swp
*.tex~
24-well.blend*
24-well-render.blend*
24-well-render-well.blend*
figures.pdf
plos_template.pdf
*.blend2
*.blend1
octave-workspace
